

.NavLinks {
    list-style: none;
    display: flex;
    justify-content: center;
}

.NavLinks a {
    text-decoration: none;
    margin: 20px;
    color: #000;
}

.NavLinks a:hover, .NavLinks a.active {
    color: #af2da5;
}
